<ion-header>
  <ion-toolbar>
    <ion-title>本地视频</ion-title>
    <ion-button slot="end">
      <ion-icon slot="icon-only" name="menu"></ion-icon>
    </ion-button>
  </ion-toolbar>

</ion-header>

<ion-content>
<!-- 
  <ion-item>
    <ion-label>文件夹</ion-label>
    <ion-input [(ngModel)]="fileName"></ion-input>
  </ion-item>

  <ion-button (click)="onClick()"> 
    读取文件
  </ion-button>
-->
  <ion-list lines="full" >
    <ion-item *ngFor="let item of movies" [routerLink]="[ '/home' ]" [queryParams]="item" (press)="LongPress(item)">
      <ion-thumbnail slot="start">
        <img src={{item.thumbnail}}>
      </ion-thumbnail>
      <div class="moviesInfo">
      <ion-label class="title">{{item.name}}</ion-label>  
      <ion-label class="path">{{item.path}}</ion-label>
    </div>
    </ion-item>
  </ion-list>
</ion-content>