<ion-header>
  <ion-toolbar>
    <ion-title>卫视频道</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let item of listAdd" [routerLink]="[ '/home' ]" [queryParams]="item">
        <ion-label>{{item.name}}</ion-label>
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-label>数值</ion-label>  
      <ion-textarea [(ngModel)]="liang"></ion-textarea>
    </ion-item>
  
    <ion-button (click)="onCheckUpdate()">
      检查更新
    </ion-button>
    <ion-button (click)="liangdu()">
      亮度
    </ion-button>
    <ion-button (click)="shengyin()">
      声音
    </ion-button>
  </ion-content>