<ion-header *ngIf="showHeader">
  <ion-toolbar>
    <ion-title>{{tiele}}</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<!--  -->
  <div id="touch" preload="auto" (touchstart)="touchstart($event)" (touchmove)="onTouchMove($event,'full')"
    (touchend)="onTouchEnd($event,'full')" >

    <video id="myvideo" #myvideo autoplay="autoplay" class="video-js vjs-default-skin" style=" background-color: #000;" controls>
      <source />
    </video>
  </div>

</ion-content>